# Ignore the git folder
.git
.gitignore

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore your local logs (crucial for your PermissionError fix)
logs/

# Ignore environment secrets
venv/
.venv/


.env
data.json
train.json
train.jsonl