GEMINI_API_KEY = string
PORT_NUMBER = number
DB_HOST = string 
DB_NAME = string
DB_USER = string
DB_PASSWORD = string
DB_PORT = number

DB_HOST_EXTERNAL = host.docker.internal
DB_HOST_INTERNAL = db
DB_ENV = dev | prod

VALKEY_PASSWORD = string
VALKEY_HOST = string
VALKEY_PORT = number